<h2>Your dashboard</h2>

<p>Welcome to your dashboard {{user.name}}...</p>
<p>Here are all the books we currently have on offer:</p>
<div class="content">
	<dl></dl>
</div>
<script src="/js/custom.js"></script>