.content{	
	width: 50%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.container-inner{
	padding-top: 100px;
    padding-bottom: 100px;
}

.form{
	width: 75%;
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.row-pad{
	padding-bottom: 30px;
}


.text-white{
	color:white;
}



.nav-text{
	font-size:10px;
	padding-left: 1px;
}

/* books */
.book-desc{
	font-size: 0.9em;
}

.load-comments{
	margin-top:10px;
}

.comment-time{
	font-size: 0.6em;
}

.comment-input{
	width: 100%;
}

.add-author{
	font-size: 1.75em;
}


.btn-favourite{
	margin-top:5px;
	margin-bottom:10px;
    padding: 0px 3px;
}


.custom-container{
    border: 1px solid #fff;
    background-color: #fff;
    border-radius: 3px;
    padding: 10px;
    min-height: 20px;
    max-width: 300px;
}

/* Overrides */
.navbar-custom{
	padding: 10px 0;
}

.name-smaller{
	font-size: 3em !important;
}